{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          chrome: "58",
          node: "6"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ]
}
