{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "last 10 chrome versions"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ]
}
